<ion-view view-title="Login">
  <ion-content>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Usuário" ng-model="usuario">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="senha">
          </label>
      </div>
      <div class="padding">
          <button class="button button-block button-calm " ng-click="login(usuario, senha)">Login</button>
      </div>
  </ion-content>
</ion-view>
