<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped  tabs-energized">
  <ion-tab title="Login" icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cadastro" icon-off="ion-ios-personadd" icon-on="ion-ios-personadd" href="#/tab/cadastro">
    <ion-nav-view name="tab-cadastro"></ion-nav-view>
  </ion-tab>
</ion-tabs>
