<ion-modal-view class="vendedor-modal" ng-click="fechar_modal()">
    <ion-content>
        <div class="item item-avatar">
            <img ng-src="{{insta.caption.from.profile_picture}}">
            <h2>{{insta.caption.from.full_name}}</h2>
            <p>{{insta.caption.from.username}}</p>
        </div>

        <div class="item item-image">
            <img ng-src="{{insta.images.low_resolution.url}}" />
        </div>
        <div class="item item-text-wrap">
            {{insta.caption.text}}
        </div>
    </ion-content>
</ion-modal-view>