@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #567;
    font-family: 'Open Sans', sans-serif;
}

.btnAddVendedor, .butOrganizadores {
    width: 400px;
    background: #3399cc;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

.butOrganizadores{
    margin-bottom: 10px
}

.btnAddVendedor, .butOrganizadores:hover {
    background: #2288bb;
}

#menu {
    width: 420px;
    position:absolute;
    left:50%;
    top:10%;
    margin-left: -210px;
    background: #ffffff;
}

#divAddVendedor, #org {
    display: none;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.triangle {
    width: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #3399cc;
    border-left: 12px solid transparent;
    margin: 0 auto;
}

#divAddVendedor h1, #org h1 {
    background: #3399cc;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

form {
    background: #f0f0f0;
    padding: 6% 4%;
}

input[type="email"], input[type="password"], input[type="name"] {
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

#Cursos {
    margin: 0 auto;
    margin-bottom: 4%;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    background: #3399cc;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

input[type="submit"]:hover {
    background: #2288bb;
}