.show-icon {
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 24px;
    float: left;
}

.show-info {
    display: inline-block;
    margin-left: 16px;
    margin-top: 15px;
    font-weight: normal;
    width: 140px;
}

.show-info h2 {
    font-weight: normal;
}

.show-image-container {
    float: right;
    width:80px;
    height:60px;
    margin-right: 16px;
    margin-top: 8px;
    background: no-repeat center center;
    background-size: contain;
}

.show-image {
    float: right;
    max-height: 60px;
    max-width: 96px;
    vertical-align: middle !important;
    display: table-cell;
}

.show-scroll {
    position: absolute;
    top: 0px;
    z-index: 0;
    bottom: 0px;
    width: 100%;
}