    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

#map{
    height: 400px;
    margin-bottom: 16px;
}

.scroll {
    height: 100%;
}

.my-menu .list {
    background-color: transparent;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
    background-color: transparent;
    color: #000000;
    border-color: #ced1c6;
}

#listaVendedores h2{
    font-size: 20px;
}

.vendedor p{
    color: #ef473a;
}

#listaVendedores h4{
    font-size: 15px;
    color: #ef473a;
}

#listaVendedores br{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loading-container .loading {
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.spinner svg {
    width: 100px;
    height: 100px;
    stroke: #7e0012;
    fill: #ffffff;
}

.item-thumbnail-left img {
    border-radius: 360px;
}