<ion-view title="Linstagram" ng-init="" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="content-social">
        <div class="row img-center" ng-repeat="obj in images">
            <img ng-repeat="img in obj.images" ng-src="data:image/jpeg;base64,{{img.image}}" width="100%"/>
            </br>
            <!--<ion-infinite-scroll distance="100px"-->
            <!--on-infinite="loadMore()"-->
            <!--icon="ion-loading-c"-->
            <!--ng-if="has_more">-->
            <!--</ion-infinite-scroll>-->
        </div>
    </ion-content>
</ion-view>