<ion-view title="Atrações">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!-- Janela com aba de shows da Stage e shows da Pacha -->
    <ion-tabs class="tabs-striped tabs-color-dark tabs-energized">
        <!-- Aba Stage -->
        <ion-tab title="Devassa On Stage">
            <ion-content scroll="true" class="backgroundApp header-padding">
                <div class="list card" ng-repeat="showsStage in showsStage">
                        <span class="show-info">
                            <h2 style="font-size: 18px;">{{showsStage.name}}</h2>

                            <p>{{showsStage.time}}</p>
                        </span>

                    <div class="show-image-container"
                         ng-style="{'background-image':'url(\'img/atracoes/{{showsStage.picture}}\')'}">
                    </div>
                </div>
            </ion-content>
        </ion-tab>

        <!-- Aba Pacha -->
        <ion-tab title="Pacha Floripa">
            <ion-content scroll="true" class="backgroundApp header-padding">
                <div class="list card" ng-repeat="showpacha in showsPacha">
                        <span class="show-info">
                            <h2 style="font-size: 18px;">{{showpacha.name}}</h2>
                            <p>{{showpacha.time}}</p>
                        </span>

                    <div class="show-image-container"
                         ng-style="{'background-image':'url(\'img/atracoes/{{showpacha.picture}}\')'}">
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
