$backgroundImage: "../img/background-large.png";

.backgroundApp {
  background-image: url($backgroundImage) !important;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.scroll{
  height: 100%;
}
