<ion-modal-view class="vendedor-modal">
    <ion-header-bar style="background-color:gold">

        <button class="button button-dark button-clear ion-chevron-down" ng-click="fechaGandhi()">
            <!--<i class="icon ion-chevron-left"></i>-->
        </button>
    </ion-header-bar>

    <ion-content  class="gandhi-container">

    </ion-content>
</ion-modal-view>