<ion-view title = "Informações">
    <ion-content class = "has-header">
        <div class = "list card">
            <div class = "vendedor item item-avatar">
                <img src = "{{vendedor.foto}}"/>
                <h2>{{vendedor.nome}}</h2>
                <p ng-if = "vendedor.status == 1">Distância: {{vendedor.distancia}} metros</p>
                <p ng-if="vendedor.status == 0">Inativo</p>
            </div>

            <div class = "item item-body">
                <div id = "map" data-tap-disabled = "true"></div>
                <p style = "margin-top: 0">
                    {{vendedor.descricao}}
                </p>
            </div>

            <div class="item tabs tabs-dark tabs-secondary tabs-icon-left">
                <a class = "tab-item" href = "#" ng-click = "OpenWhats()">
                    <i class = "icon ion-social-whatsapp-outline balanced"></i>
                    WhatsApp
                </a>
                <a class = "tab-item" href = "#" ng-click = "SMS()">
                    <i class = "icon ion-chatbubble-working assertive"></i>
                    Mensagem
                </a>
                <a class = "tab-item" href = "tel:{{vendedor.ddd}}{{vendedor.celular}}">
                    <i class = "icon ion-android-call calm"></i>
                    Ligar
                </a>
            </div>
        </div>
        <br/><br/>
    </ion-content>
</ion-view>