<ion-view  title="Tabela de Preços">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!-- Janela com aba de preços de bebidas individuais -->
    <ion-tabs class="tabs-striped tabs-color-dark tabs-energized">
        <!-- Aba combos -->
        <ion-tab title="Combos">
            <ion-content class="header-padding backgroundApp" scroll="true">
                    <div class="list card" ng-repeat="combo in combos">
                        <span class="bar-info">
                            <h2>{{combo.name}}</h2>
                            <p>{{combo.price}}</p>
                        </span>
                    </div>
            </ion-content>
        </ion-tab>
        <!-- Aba individual -->
        <ion-tab title="Individual">
            <ion-content scroll="true" class="header-padding backgroundApp">
                    <div class="list card" ng-repeat="drink in drinks">
                        <span class="bar-info">
                            <h2 style="font-size: 18px;">{{drink.name}}</h2>
                            <p>{{drink.price}}</p>
                        </span>
                    </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
