<ion-view title="Eventos">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <h4>Próximo Evento</h4>

        <div class="card">
        	<h4> {{proximo_evento.nome}} </h4>
        	Local:  {{proximo_evento.local}} <br />
        	Data: {{getDia(proximo_evento.start)}} <br />
        	Das {{getHora(proximo_evento.start)}} às {{getHora(proximo_evento.end)}}.
        </div>

        <div ng-show="eventos_futuros">
			<h4 >Depois</h4>
			<div class="card" ng-repeat="e in eventos_futuros">
            	<h4> {{e.nome}} </h4>
            	Local:  {{e.local}} <br />
            	Data: {{getDia(e.start)}} <br />
            	Das {{getHora(e.start)}} às {{getHora(e.end)}}.
            </div>
      </div>
    </ion-content>
</ion-view>
