<ion-view title="Informações">
    <ion-content class="has-header">
        <div class="list card">
            <div class="vendedor item item-thumbnail-left">
                <img ng-src="{{'img/vendedores/' + vendedor.foto}}"/>
                <h2 class="full">{{vendedor.nome}}</h2>
                <h4 ng-if="vendedor.status == 1">Distância: {{vendedor.distancia}} metros</h4>
                <h4 ng-if="vendedor.status != 1">Sem localização</h4>
            </div>

            <div ng-if="vendedor.status != 0 && vendedor.descricao != ''" class="item item-body">
                <p style="margin-top: 0">
                    {{vendedor.descricao}}
                </p>
            </div>

            <div class="item contato tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="CallTel ('{{vendedor.celular}}')">
                    <i class="icon ion-android-call calm"></i>
                    Ligar
                </a>
                <a class="tab-item" ng-click="OpenWhats()">
                    <i class="icon ion-social-whatsapp balanced"></i>
                    WhatsApp
                </a>
                <a class="tab-item" ng-click="SMS()">
                    <i class="icon ion-chatbubble-working assertive"></i>
                    Mensagem
                </a>
                <a class="tab-item" ng-click="OpenFacebook()">
                    <i class="icon ion-social-facebook positive"></i>
                    Facebook
                </a>
            </div>
        </div>
        <br/><br/>
    </ion-content>
</ion-view>