.header-padding{
    top: 44px;
}

.feed-linguicao {
	background-color: white;
	width: 100%;
	height: 100%;
}

.scroll {
	height:100%;
}

ion-nav-bar, header {
	background-color: gold !important;
}

div, span, h3, h2, h1, h4, button {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold;
}

.card {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold;
}