.patrocinadores-slider-box {
	display: block;
	height: 160px;
	width: 100%;
}

.patrocinador-slide {
	padding: 0 10px;
	text-align: center;
	display: table;
	height: 120px;
}

.patrocinador {
	height: auto;
	max-height: 120px;
	max-width: 100%;
	display: inline;
	margin: 0px;
}