<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="nav-title-slide-ios7 bar-energized">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-stable bar-energized">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content ng-controller="MenuController">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    Principal
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/sales">
                    Ingressos
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/bar">
                    Bebidas
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/map">
                    Mapa
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/shows">
                    Atrações
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/facebook">
                    #24linguicao
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/devs">
                    Devs
                </ion-item>
            </ion-list>

            <h4 style="width:100%; text-align:center">Patrocinadores</h4>
                <h4>
                    <ion-slide-box class="patrocinadores-slider-box"
                                   auto-play="true"
                                   does-continue="true"
                                   slide-interval="2000"
                                   show-pager="false">
                        <ion-slide ng-repeat="p in patrocinadores" class="patrocinador-slide">
                            <img class="patrocinador" ng-src="img/patrocinadores/{{p}}">
                        </ion-slide>
                    </ion-slide-box>
                </h4>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
